<!DOCTYPE html>
<html ng-app="wayThereApp">
<head lang="en">
    <meta charset="UTF-8">

    <!-- Title -->
    <title>WayThere</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- JS -->
    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/js/main.js"></script>

    <!-- YT library and angular directive -->
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/vendor/angular-youtube-mb/src/angular-youtube-embed.js"></script>
</head>
<body ng-controller="WayThereController">
    <div class="yt-player-container">
        <youtube-video class="yt-player" video-id="yt.videoId" player="yt.player" player-vars="yt.playerVars"></youtube-video>
    </div>

    <div class="controls">
        <button class="btn btn-default" ng-click="setMute(!mute)"><span class="glyphicon" ng-class="mute ? 'glyphicon-volume-off' : 'glyphicon-volume-up'"></span></button>
        <button class="btn btn-default" ng-click="isPlaying() ? yt.player.pauseVideo() : yt.player.playVideo()">
            <span class="glyphicon" ng-class="isPlaying() ? 'glyphicon-pause' : 'glyphicon-play'"></span>
        </button>
    </div>
    <carousel class="weather-carousel" interval="'0'" on-carousel-change="onSlideChanged(index)">
        <slide ng-repeat="weather in weathers" active="slide.active">
            <div class="carousel-caption">
                <div class="carousel-header">
                    <h2>{{ weather.name }}</h2>
                    <img ng-src="/images/icons/{{weather.forecasts[0].icon}}.png"/>
                    <p>{{ weather.forecasts[0].fcttext_metric }}</p>
                </div>
                <div class="row weather-days">
                    <div class="weather-day-container" ng-repeat="forecast in weather.forecasts" ng-show="$index > 0">
                        <img ng-src="/images/icons/{{forecast.icon}}.png"/>
                        <h4>{{forecast.title}}</h4>
                        <p>{{forecast.fcttext_metric}}</p>
                    </div>
                </div>
            </div>
        </slide>
    </carousel>
</body>
</html>